.about {
  padding: 50px 8%;
  max-width: $max-witch;
  margin: 0 auto;
  figure img {
    clip-path: circle(50% at 50% 50%);
  }
}
.about__img {
  width: 100%;
}
.wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
  flex-basis: auto;
  flex-grow: 1;
}
.about__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__btn a {
  border: 0px solid transparent;
  border-bottom: 3px solid $text-color-link;
  padding: 0;
}
.about__btn a:hover {
  background-color: $text-color-link !important;
  color: $color-white !important;
}

@media screen and (min-width: 800px) {
  .about__section {
    flex-direction: row;
    align-items: center;
    .about__img {
      align-self: flex-start;
    }
  }
}
