$bg-header: #394ff4e6;
$bg-about: #f6e6e0;
$bg-hero: #48d8a4;
$bg-skill: #eeb4aa;
$text-color-h2: #f0535d;
$text-color-h3: #1c2273;
$text-color-h4: #7689d8;
$text-color-link: #394ff4;
$bg-work: #7689d8;
$bg-btn: #a1eacd;
$bg-footer: #e1b4e5;
$color-black: #000;
$color-white: #fff;
$max-witch: 1280px;
