$bg-header: #7a73ff;
$bg-about: #fff;
$bg-contact: #0a2540;
$bg-hero: #0a2540;
$bg-skill: #0a2540;
$text-color-h2: #7a73ff;
$text-color-h3: #02aed6;
$text-color-h4: #02aed6;
$text-color-link: #7a73ff;
$bg-work: #fff;
$bg-btn: #02aed6;
$bg-footer: #7a73ff;
$color-black: #000;
$color-white: #fff;
$max-witch: 1280px;
