.work__container {
  background-color: $bg-work;
  clip-path: polygon(0 2.4%, 100% 0, 100% 50%, 100% 100%, 0 100%, 0% 50%);
  position: relative;
  top: -115px;
}

.work {
  padding: 140px 8%;
  max-width: $max-witch;
  h2 {
    color: $color-white;
  }
}
.work__items {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin-bottom: 84px;
}
.work__items:nth-child(even) {
  flex-direction: column-reverse;
}
.items__text {
  flex-basis: 70%;
  h4 {
    color: $bg-skill;
  }
}
.work__icons {
  div {
    display: flex;
  }
}
.uagb-icon-list__source-image {
  width: 30px;
  margin-right: 1rem;
}
.work__btns {
  margin-top: 1rem;
}
.work__btn {
  a {
    font-size: 22px !important;
    transition: background-color 0.5s ease;
    &:hover {
      border: 0 solid transparent;
      background-color: #f48480 !important;
    }
  }
}

@media screen and (min-width: 700px) {
  .work__items {
    flex-direction: row;
  }
  .work__items:nth-child(even) {
    flex-direction: row-reverse;
  }
}
