/* @link https://utopia.fyi/type/calculator?c=320,20,1.2,1280,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
:root {
  --fluid-min-width: 320;
  --fluid-max-width: 1280;
  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
      (var(--fluid-max-width) - var(--fluid-min-width))
  );
}

@media screen and (min-width: 1280px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}
:root {
  --f--2-min: 13.89;
  --f--2-max: 12.8;
  --step--2: calc(
    ((var(--f--2-min) / 16) * 1rem) + (var(--f--2-max) - var(--f--2-min)) *
      var(--fluid-bp)
  );
  --f--1-min: 16.67;
  --f--1-max: 16;
  --step--1: calc(
    ((var(--f--1-min) / 16) * 1rem) + (var(--f--1-max) - var(--f--1-min)) *
      var(--fluid-bp)
  );
  --f-0-min: 20;
  --f-0-max: 20;
  --step-0: calc(
    ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
      var(--fluid-bp)
  );
  --f-1-min: 24;
  --f-1-max: 25;
  --step-1: calc(
    ((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) *
      var(--fluid-bp)
  );
  --f-2-min: 28.8;
  --f-2-max: 31.25;
  --step-2: calc(
    ((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) *
      var(--fluid-bp)
  );
  --f-3-min: 34.56;
  --f-3-max: 39.06;
  --step-3: calc(
    ((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) *
      var(--fluid-bp)
  );
  --f-4-min: 41.47;
  --f-4-max: 48.83;
  --step-4: calc(
    ((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) *
      var(--fluid-bp)
  );
  --f-5-min: 49.77;
  --f-5-max: 61.04;
  --step-5: calc(
    ((var(--f-5-min) / 16) * 1rem) + (var(--f-5-max) - var(--f-5-min)) *
      var(--fluid-bp)
  );
}

:root {
  --fluid-min-width: 320;
  --fluid-max-width: 1140;
  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
      (var(--fluid-max-width) - var(--fluid-min-width))
  );
}

@media screen and (min-width: 1140px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}
:root {
  --f--2-min: 13.89;
  --f--2-max: 15.36;
  --step--2: calc(
    ((var(--f--2-min) / 16) * 1rem) + (var(--f--2-max) - var(--f--2-min)) *
      var(--fluid-bp)
  );
  --f--1-min: 16.67;
  --f--1-max: 19.2;
  --step--1: calc(
    ((var(--f--1-min) / 16) * 1rem) + (var(--f--1-max) - var(--f--1-min)) *
      var(--fluid-bp)
  );
  --f-0-min: 20;
  --f-0-max: 24;
  --step-0: calc(
    ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
      var(--fluid-bp)
  );
  --f-1-min: 24;
  --f-1-max: 30;
  --step-1: calc(
    ((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) *
      var(--fluid-bp)
  );
  --f-2-min: 28.8;
  --f-2-max: 37.5;
  --step-2: calc(
    ((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) *
      var(--fluid-bp)
  );
  --f-3-min: 34.56;
  --f-3-max: 46.88;
  --step-3: calc(
    ((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) *
      var(--fluid-bp)
  );
  --f-4-min: 41.47;
  --f-4-max: 58.59;
  --step-4: calc(
    ((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) *
      var(--fluid-bp)
  );
  --f-5-min: 49.77;
  --f-5-max: 73.24;
  --step-5: calc(
    ((var(--f-5-min) / 16) * 1rem) + (var(--f-5-max) - var(--f-5-min)) *
      var(--fluid-bp)
  );
}

html {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: "Crimson Pro", serif;
  font-weight: 600;
}

body {
  font-size: 20px;
  margin: 0;
  overflow-x: hidden;
  background-color: #f6e6e0;
}

h1 {
  font-size: calc(var(--step-5) - 15px);
  letter-spacing: 0.05rem;
  margin: 0;
  font-weight: 500;
  font-family: "Mada", sans-serif;
  color: #fff;
}

h2 {
  color: #f0535d;
  font-size: var(--step--1);
  letter-spacing: 0.06rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 0 0 10px;
}

h3 {
  font-size: var(--step-3);
  color: #1c2273;
  line-height: 1.3;
  text-transform: capitalize;
  margin: 0 0 1rem;
  font-family: "Crimson Text", serif;
  font-weight: 700;
}

h4 {
  color: #7689d8;
  font-size: var(--step-1);
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: 0.02rem;
  margin: 1rem 0 -0.5rem;
}

p {
  font-size: calc(var(--step--1) + 2px);
  line-height: 1.55;
  margin: 1rem 0;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 50px 8%;
  max-width: 1280px;
  margin: 0 auto;
}

p > a {
  color: #394ff4;
}
p > a:hover {
  background-color: #394ff4;
  color: #fff;
  border: 0 solid transparent;
}

figure {
  margin: 0;
}

.header {
  background-color: rgba(57, 79, 244, 0.9019607843);
  margin: 0;
  margin-top: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: end;
  align-items: center;
  z-index: 9999;
}

.header__nav {
  position: fixed;
  top: 5.25rem;
  height: 100vh;
  background-color: rgba(57, 79, 244, 0.9019607843);
  width: 100%;
  transition: top 500ms linear;
}

.header__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-right: 3rem;
}

li {
  list-style: none;
  margin: 1rem 2rem;
}

a {
  padding-bottom: 0.5rem;
}

a:hover {
  border-bottom: 3px solid #f0535d;
}

.header__icon {
  display: block;
  color: #fff;
  font-size: 2rem;
  padding-right: 1rem;
  cursor: pointer;
}

@media screen and (min-width: 928px) {
  .header__icon {
    display: none;
  }

  .header__nav {
    display: block;
    position: static;
    top: 6.8rem;
    height: auto;
    background-color: transparent;
  }

  .header__list {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin: 0;
    padding-right: 3rem;
  }
}
.is-active {
  top: -58rem;
  transition: top 500ms linear;
}

.btn {
  margin-bottom: 7px;
  background-color: #a1eacd;
  padding: 0.5rem 1.5rem 1rem;
  text-decoration: none;
  text-transform: capitalize;
}

.about {
  padding: 50px 8%;
  max-width: 1280px;
  margin: 0 auto;
}
.about figure img {
  clip-path: circle(50% at 50% 50%);
}

.about__img {
  width: 100%;
}

.wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
  flex-basis: auto;
  flex-grow: 1;
}

.about__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__btn a {
  border: 0px solid transparent;
  border-bottom: 3px solid #394ff4;
  padding: 0;
}

.about__btn a:hover {
  background-color: #394ff4 !important;
  color: #fff !important;
}

@media screen and (min-width: 800px) {
  .about__section {
    flex-direction: row;
    align-items: center;
  }
  .about__section .about__img {
    align-self: flex-start;
  }
}
.skills__container {
  clip-path: polygon(0 0, 23% 2%, 100% 0, 100% 97%, 0 100%, 0% 50%);
  background-color: #eeb4aa;
}
.skills__container .skills {
  padding: 110px 8%;
}
.skills__container .skills h2 {
  color: #fff;
}
.skills__container .skills__iconos {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-auto-rows: auto;
  gap: 3px;
  text-align: center;
  justify-items: center;
  align-items: stretch;
}
.skills__container .skills__iconos figure {
  min-width: 204px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills__container .skills__iconos figure img {
  width: 4.375rem;
  height: 4.375rem;
}
.skills__container .skills__iconos figure figcaption {
  color: #656565;
}

@media screen and (min-width: 700px) {
  .skills__container {
    clip-path: polygon(0 0, 23% 8%, 100% 0, 100% 90%, 0 100%, 0% 50%);
  }
}
.work__container {
  background-color: #7689d8;
  clip-path: polygon(0 2.4%, 100% 0, 100% 50%, 100% 100%, 0 100%, 0% 50%);
  position: relative;
  top: -115px;
}

.work {
  padding: 140px 8%;
  max-width: 1280px;
}
.work h2 {
  color: #fff;
}

.work__items {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin-bottom: 84px;
}

.work__items:nth-child(even) {
  flex-direction: column-reverse;
}

.items__text {
  flex-basis: 70%;
}
.items__text h4 {
  color: #eeb4aa;
}

.work__icons div {
  display: flex;
}

.uagb-icon-list__source-image {
  width: 30px;
  margin-right: 1rem;
}

.work__btns {
  margin-top: 1rem;
}

.work__btn a {
  font-size: 22px !important;
  transition: background-color 0.5s ease;
}
.work__btn a:hover {
  border: 0 solid transparent;
  background-color: #f48480 !important;
}

@media screen and (min-width: 700px) {
  .work__items {
    flex-direction: row;
  }

  .work__items:nth-child(even) {
    flex-direction: row-reverse;
  }
}
.testimonial__container {
  background-color: #a1eacd;
  clip-path: polygon(0 1%, 27% 0, 70% 1%, 100% 0, 100% 100%, 0 100%);
  position: relative;
  top: -180px;
}
.testimonial__container .testimonial {
  padding-top: 100px;
}

.testimonial__card {
  width: 100%;
}

.testimonial__item {
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
  margin: 5rem 0;
}

.testimonial__text {
  position: relative;
}

.testimonial__image {
  text-align: center;
}
.testimonial__image figure img {
  margin: 0 auto;
  clip-path: circle(50% at 50% 50%);
}

@media screen and (min-width: 800px) {
  .testimonial__item {
    flex-direction: row;
  }
}
.contact__container {
  background-color: #fef2d8;
  position: relative;
  top: -181px;
}

.contact__section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
  column-gap: 2rem;
}

.contact__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact__form input:not(.btn),
.contact__form textarea {
  border: 2px solid rgba(72, 216, 164, 0);
  width: 100%;
  display: block;
  padding: 1.2rem 0.6rem 0.4rem;
  margin-bottom: 2rem;
  box-shadow: 2px 2px #f0535d;
}

@media screen and (min-width: 800px) {
  .contact__section {
    flex-direction: row;
  }

  .contact__form {
    width: 70%;
  }
}
.hero {
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #48d8a4;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 82%);
  padding: 0 8%;
}
.hero h1 {
  font-size: 23px;
  max-width: 70%;
}
.hero h1::before {
  content: url(http://portafolio.local/wp-content/uploads/2022/04/leafy-branch.svg);
  position: absolute;
  width: 200px;
  height: auto;
  top: -2rem;
  left: -3rem;
  transform: rotate(124deg);
}
.hero h1::after {
  content: url(http://portafolio.local/wp-content/uploads/2022/04/main-flower-1.svg);
  position: absolute;
  width: 175px;
  right: 0;
  top: 27rem;
}

span {
  font-weight: 700;
}

@media screen and (min-width: 400px) {
  .hero {
    min-height: 80vh;
  }
  .hero h1 {
    font-size: calc(var(--step-5) - 15px);
  }
  .hero h1::after {
    width: 200px;
    bottom: 7rem;
    top: auto;
  }
}
@media screen and (min-width: 900px) {
  .hero h1::before {
    width: 275px;
  }

  .hero h1::after {
    width: 25vw;
    bottom: 7rem;
  }
}
@media screen and (min-width: 1200px) {
  .hero h1::after {
    width: 330px;
  }
}

/*# sourceMappingURL=style.css.map */
